<% provide(:title, "New Task") %>

<div class="container">
  <h1>タスク新規作成</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_with(model: [@user, @task], url: user_tasks_path, local: true) do |f| %>
        <%= render 'shared/error_messages', object: @task %>
      
        <%= f.label :task, class: "label-form" %>
        <%= f.text_field :content, class: "form-control" %>
      
        <%= f.label :detail, class: "label-form" %>
        <%= f.text_area :detail, class: "form-control", row: 5 %>
        
        <%= f.submit "登録", class: "btn btn-primary btn-block btn-form" %>
      <% end %>
    </div>
  </div>
</div>